@import '../../../../../assets/styles/variables';

.wrapper {
  border-radius: 15px;
  padding: 1.5rem;
  width: 80%;
  margin: 2rem auto 0;
  @include glassEffect;

  .map {
    /* height: 180px;
    background-color: $gray; */
    margin-top: 1.5rem;
  }

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;

    > h1 {
      color: $white;
      font-size: 24px;
      margin: 0 0 0 1rem;
    }
  }

  > article {
    color: $white;
    opacity: 0.8;
    line-height: 1.6;
    font-size: 1rem;
    text-align: center;
  }

  .additional {
    margin-top: 1rem;
    //display: grid;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    flex-wrap: wrap;
    //justify-content: space-around;
    //align-items: center;
    justify-content: center;

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.04);

      > span {
        color: $white;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }

    .duration {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.04);

      > span {
        color: $white;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
  }
}